# Default ignored files
/workspace.xml
logs/
vqa_experiments/__pycache__
snapshots
*__pycache__
*.log
/action_recognition_experiments/streaming_experiments
/action_recognition_experiments/nturgbd60_2sagcn_ckpts